# Pandas

Pandas - Data Analytics
Series - 1D
DataFrame - 2D

In [53]:
import pandas as pd

In [54]:
a = pd.Series([1, 2, 3])
a

0    1
1    2
2    3
dtype: int64

In [55]:
b = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
b

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [56]:
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}

df = pd.DataFrame(data)
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [57]:
df = pd.read_csv("file1.csv")
# df = pd.read_xlsx()
print(df)

   Unnamed: 0  S.No Name  Age
0           0     1    A   20
1           1     2    B   21
2           2     3    C   22
3           3     4    D   23
4           4     5    E   55
5           5     6    F   44
6           6     7    G   44
7           7     8    H   44

In [58]:
df.to_csv("file2.csv")
# df.to_xlsx()

In [59]:

print(df.head())# Print the first 5 rows
print(df.tail())# Print the last 5 rows

print(df.head(3))
print(df.tail(10))

print(df.info())

print(df.describe())
print(df.shape)

   Unnamed: 0  S.No Name  Age
0           0     1    A   20
1           1     2    B   21
2           2     3    C   22
3           3     4    D   23
4           4     5    E   55
   Unnamed: 0  S.No Name  Age
3           3     4    D   23
4           4     5    E   55
5           5     6    F   44
6           6     7    G   44
7           7     8    H   44
   Unnamed: 0  S.No Name  Age
0           0     1    A   20
1           1     2    B   21
2           2     3    C   22
   Unnamed: 0  S.No Name  Age
0           0     1    A   20
1           1     2    B   21
2           2     3    C   22
3           3     4    D   23
4           4     5    E   55
5           5     6    F   44
6           6     7    G   44
7           7     8    H   44
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8 non-null      int64
 1   S.No        8 non-null      int64
 2   Name        8 non-null      object
 3   Age         8 non-null      int64
dtypes: int64(3), object(1)
memory usage: 388.0+ bytes
None
       Unnamed: 0     S.No        Age
count     8.00000  8.00000   8.000000
mean      3.50000  4.50000  34.125000
std       2.44949  2.44949  13.994259
min       0.00000  1.00000  20.000000
25%       1.75000  2.75000  21.750000
50%       3.50000  4.50000  33.500000
75%       5.25000  6.25000  44.000000
max       7.00000  8.00000  55.000000
(8, 4)

In [60]:
# print(df["Name"])# Selecting single column
# print(df[["Name", "Age"]]) # Selecting multiple columns

# print(df.iloc[0])# Selecting single row by index
print(df.loc[2,"Name"])# Selecting single row by index and column name

C

In [61]:
print(df[df["Age"] > 30])
print(df)

   Unnamed: 0  S.No Name  Age
4           4     5    E   55
5           5     6    F   44
6           6     7    G   44
7           7     8    H   44
   Unnamed: 0  S.No Name  Age
0           0     1    A   20
1           1     2    B   21
2           2     3    C   22
3           3     4    D   23
4           4     5    E   55
5           5     6    F   44
6           6     7    G   44
7           7     8    H   44

In [62]:
df["Class"] = [1, 2, 3, 4, 5, 6, 7, 8]
df

df.drop("S.No", axis=1, inplace=True)
print(df)

   Unnamed: 0 Name  Age  Class
0           0    A   20      1
1           1    B   21      2
2           2    C   22      3
3           3    D   23      4
4           4    E   55      5
5           5    F   44      6
6           6    G   44      7
7           7    H   44      8

In [63]:
data = {
    "Name": ["A", "B", "C"],
    "Marks": [10, None, 30],
    "Age": [20, 21, None]
}

In [64]:
df = pd.DataFrame(data)
print(df)

  Name  Marks   Age
0    A   10.0  20.0
1    B    NaN  21.0
2    C   30.0   NaN

# Handling Missing Data

### isnull() - Returns True if the value is missing

In [65]:
print(df.isnull())

    Name  Marks    Age
0  False  False  False
1  False   True  False
2  False  False   True

In [66]:
# df.dropna(inplace=True)
df

  Name  Marks   Age
0    A   10.0  20.0
1    B    NaN  21.0
2    C   30.0   NaN

In [67]:
df["Marks"].fillna(df["Marks"].sum(), inplace=True)

df["Age"].fillna(df["Age"].mean(), inplace=True)

print(df)

  Name  Marks   Age
0    A   10.0  20.0
1    B   40.0  21.0
2    C   30.0  20.5

C:\Users\ujjaw\AppData\Local\Temp\ipykernel_24172\941579837.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Marks"].fillna(df["Marks"].sum(), inplace=True)
C:\Users\ujjaw\AppData\Local\Temp\ipykernel_24172\941579837.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(), inplace=True)

In [68]:
# sum mean max min count median std

In [ ]:
df1 = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6], "C": [7, 8, 9]})
df2 = pd.DataFrame({"A": [10, 20, 30], "B": [40, 50, 60], "D": [70, 80, 90]})

print(pd.concat([df1,df2]))# by default axis=0 for vertical concatenation
print(pd.concat([df1,df2], axis=1))# for horizontal concatenation

   A  B  C   A   B   D
0  1  4  7  10  40  70
1  2  5  8  20  50  80
2  3  6  9  30  60  90